name: ci

on:
  schedule:
    - cron: '0 10 * * *' # everyday at 10am
  push:
    branches:
      - 'master'
      - 'releases/v*'
  pull_request:
    branches:
      - 'master'

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - go_version: 1.15.x
            targets: windows/386,windows/amd64,linux/386,linux/amd64,linux/arm64,linux/ppc64le,linux/s390x,darwin/386,darwin/amd64
          - go_version: 1.16.x
            targets: windows/386,windows/amd64,linux/386,linux/amd64,linux/arm64,linux/ppc64le,linux/s390x,darwin/386,darwin/amd64,darwin/arm64
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Xgo
        uses: ./
        with:
          go_version: ${{ matrix.go_version }}
          targets: ${{ matrix.targets }}
          v: true
          x: false
          ldflags: -s -w
      -
        name: Check
        run: |
          sudo apt-get -qq install tree
          tree -f -h ./build
