name: ci

on:
  schedule:
    - cron: '0 10 * * *' # everyday at 10am
  pull_request:
    branches:
      - master
      - releases/v*
  push:
    branches:
      - master
      - releases/v*

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        xgo_version:
          - latest
          - v0.3.1
        go_version:
          - 1.13.x
          - 1.14.x
          - 1.15.x
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.2
      -
        name: Xgo
        uses: ./
        with:
          xgo_version: ${{ matrix.xgo_version }}
          go_version: ${{ matrix.go_version }}
          targets: windows/386,windows/amd64,linux/386,linux/amd64,darwin/386,darwin/amd64
          v: true
          x: false
          ldflags: -s -w
      -
        name: Check
        run: |
          ls -al
          ls -al build/
          file build/*
